* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: "Lato", sans-serif;
}

header {
    height: 95vh;
	background: linear-gradient(to bottom,
	rgb(0, 0, 0), rgb(0, 86, 10));
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1rem 10rem;
}

.nav-logo img {
    height: auto;
    width: 6rem;
    margin-left: 1rem;
}

.nav-links {
    list-style: none;
    display: flex;
    margin-right: 1rem;
    font-size: 1.4rem;
}

.nav-links li {
    margin-right: 4rem;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: 0.2s all;
}

.nav-links a:hover {
    color: silver;
}

.header-content {
    display: flex;
    justify-content: space-between;
    margin: 2.4rem 12rem 0 12rem;
}

.header-text {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-text h1 {
    font-size: 3.6rem;
    letter-spacing: 0.1rem;
    padding-bottom: 1rem;
}

.header-text h5 {
    font-size: 1.6rem;
    font-weight: lighter;
    letter-spacing: 0.05rem;
    padding-bottom: 1.8rem;
}

button {
    background-color: rgb(1, 152, 1);
    color: white;
    font-size: 1.4rem;
    padding: 1.2rem 2rem;
    border: none;
    border-radius: 200px;
    display: block;
    transition: 0.2s all;
    width: fit-content;
}

button:hover {
    background-color: rgba(1, 152, 1, 0.7);
}

.header-image img {
    height: 40rem;
    width: auto;
}

/* Media queries for responsive design */

/* For screen sizes between 480px and 768px */
@media screen and (max-width: 768px) {
    nav {
        padding: 1rem 5rem;
    }

    .nav-links {
        margin-right: 0;
    }

    .nav-links li {
        margin-right: 2rem;
    }

    .header-content {
        margin: 2.4rem 5rem 0 5rem;
    }

    .header-text {
        width: 55%;
    }

    .header-text h1 {
        font-size: 3rem;
    }

    .header-text h5 {
        font-size: 1.4rem;
    }

    button {
        font-size: 1.2rem;
        padding: 1rem 1.5rem;
    }

    .header-image img {
        height: 30rem;
    }
}

/* For screen sizes between 768px and 1024px */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    nav {
        padding: 1rem 8rem;
    }

    .nav-links li {
        margin-right: 3rem;
    }

    .header-content {
        margin: 2.4rem 8rem 0 8rem;
    }

    .header-text h1 {
        font-size: 3.2rem;
    }

    .header-text h5 {
        font-size: 1.5rem;
    }

    .header-image img {
        height: 35rem;
    }
}
